extends layout

block content

	mixin ob_agenstve_stage_one
		.ob_agenstve_stage_one
			.ob_agensctve_stage_one_text
				.ob_agensctve_stage_one_p
					if block
						block
					else 
						p not it is 

	+ob_agenstve_stage_one
		p Любой из нас хотя бы раз в жизни сталкивался с решением квартирного вопроса. Важность и значимость этого понимают практически все. А способы есть разные... 
		<br/>
			p Некоторые люди хотят положиться только на свои силы и самостоятельно контролировать весь процесс, став для себя риэлтором на этот период.<br/> При этом через какое-то время Вы сможете придти к определённому итогу. Но на своих плечах в этом случае Вы несёте и ответственность за результат.
		p Однако прежде, чем идти таким путём, ответьте честно себе на 3 вопроса:
		ul
		li Можете ли Вы с уверенностью спрогнозировать время, когда произойдет сделка по покупке или продаже Вашего объекта недвижимости?
		li Можете ли Вы правильно оценить стоимость объекта недвижимости?
		li Можете ли Вы самостоятельно разобраться с необходимыми документами для сделки и обеспечить её юридическое сопровождение?
		p Если Вы считаете, что каждый специалист должен заниматься своим делом, и привыкли доверять решение важных вопросов профессионалам, то мы готовы помочь, чтобы выгодно для Вас купить или продать недвижимость! А лучшая сделка для нас — та, при заключении которой остаётся чувство, что обе стороны достигли планируемого и остались взаимно довольны!




