extends layout

block content
	span.glyphicon.glyphicon-user 
		span.contactspar Райан Дал , создатель Node.js
	<br/><br/>
	span.glyphicon.glyphicon-user 
		span.contactspar TJ Holowaychuk, StrongLoop и другие , создатели Express.js
	<br/><br/>
	span.glyphicon.glyphicon-user 
		span.contactspar  Bootstrap Core Team , создатели Bootstrap
	