extends layout

block content
	<br/>
	<br/>
	form(method="post")
		fieldset.form-group
			input(name="email",type="email",placeholder="enter email")
			<br/>
			label(for="text") Text:
			input.form-control(name="text",type="text",placeholder="enter yr text")
			button.btn.btn-primary(type="submit") Отправить
			a.btn.btn-default(href="/") Отмена